header.header
    .container
        .header__inner
            .header__logo
                a(href="#" class="logo")
                    img(src="assets/images/logo.svg", alt="logo") 
            nav.header__menu
                a(href="#main" class="header__menu-link js-link") Главная
                a(href="#about" class="header__menu-link js-link") Об авторе
                a(href="#projects" class="header__menu-link js-link") Работы
                a(href="#process" class="header__menu-link js-link") Процесс
                a(href="#contacts" class="header__menu-link js-link") Контакты
            .header__burger.js-burger
                .header__burger-line
                .header__burger-line