.projects(id="projects")
    .projects__inner 
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img2.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img1.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img2.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img1.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img2.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img1.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img2.jpg", alt="")            
        .projects__img 
            a(href="#")
                img(src="assets/images/project-img1.jpg", alt="")            