footer.footer 
    .container 
        .footer__inner 
            .footer__copyright 
                span.footer__copyright-name Иванов Иван
                span.footer__copyright-text (с) 2018. Все права защищены.
            .footer__social 
                img(src="assets/images/vk-social.svg", alt="vk") 
                img(src="assets/images/vk-social.svg", alt="vk") 
                img(src="assets/images/vk-social.svg", alt="vk") 