.skills
    .container 
        .skills__inner 
            .skills__content 
                h2.skills__title Мои навыки
                .skills__content-progress
                    .skills__content-progress-item 
                        span.skills__content-progress-item-text Adobe Photoshop
                        .skills__content-progress-item-line
                            .skills__content-progress-item-line-inner.js-line
                    .skills__content-progress-item 
                        span.skills__content-progress-item-text Adobe Photoshop
                        .skills__content-progress-item-line
                            .skills__content-progress-item-line-inner.js-line
                    .skills__content-progress-item 
                        span.skills__content-progress-item-text Adobe Photoshop
                        .skills__content-progress-item-line
                            .skills__content-progress-item-line-inner.js-line
            .skills__img
                img(src="assets/images/skills-photo.jpg", alt="skills-photo")


                        