.clients 
    .container 
        .clients__inner
            .clients__image 
                img(src="assets/images/partners-logo.svg", alt="partners")
            .clients__image 
                img(src="assets/images/partners-logo.svg", alt="partners")
            .clients__image 
                img(src="assets/images/partners-logo.svg", alt="partners")
            .clients__image 
                img(src="assets/images/partners-logo.svg", alt="partners")