.clients {
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__image {
        max-width: 225px;
        
        margin-right: 25px;
            margin-left: 25px;
        img {
            width: 100%;
        }
    }
}